@font-face {
    font-family: 'Mulish-Light';
    src: url('../../fonts/mulish/Mulish-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-Regular';
    src: url('../../fonts/mulish/Mulish-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-Bold';
    src: url('../../fonts/mulish/Mulish-Bold.ttf') format('truetype');
}